// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #6c728c;
@gray: #373b41;
@dark-gray: #272a33;
@very-dark-gray: #313440;

@cyan: #37e6e8;
@blue: #63b6ff;
@purple: #e29bf7;
@green: #9cef9d;
@red: #f58578;
@orange: #e59722;
@light-orange: #fecd50;
